*, *::after, *::before{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html{
  font-size: 16px;
}

body{
  max-width: 1440px;
  margin: auto;
  padding: 0;
}

.container{
max-width: 1110px;
margin: auto;
padding-top: 30px;
position: relative;
}
